}
body {
    background-color: #efeee7;
    margin: 0;
    padding: 0;
    font-family: "Georgia",Times New Roman,Times,serif;
    font-size: 160%;
    font: #333333;
}
header {
    background-color: #333333;
}
h1 {
    font:#eee
}
body  {
    color: #333333;
    font-family: "Georgia",Times New Roman,Times,serif;
    font-size: 160%;
}